<html>
<head>
    <meta charset="UTF-8">
    <title>Angular Sticky Table Header</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="bower_components/fetch/fetch.js"></script>
    <script src="angular-sticky-table-header.js"></script>
    <script>
    (function () {

        'use strict';

        var module = angular.module('angular-sticky-table-header');

        function responseAsJsonPromise(response) {
            return response.json();
        }
        
        function loadPeople($q, numPeople) {

            var deferred = $q.defer();

            window.fetch('https://randomuser.me/api/?results=' + numPeople)
                .then(responseAsJsonPromise)
                .then(function (response) {
                   deferred.resolve(response.results);
                });

            return deferred.promise;
        }
        
        function loadUsers($q, numUsers) {
            return window.fetch('https://www.mockaroo.com/1f5387b0/download?count=' + numUsers + '&key=1f20ad30').then(responseAsJsonPromise);
        }

        module.controller('controller', ['$scope', '$window', '$q', function ($scope, $window, $q) {
            
            $scope.numPeople = 50;
            $scope.numUsers = 50;
            
            function resetPeople() {
                $scope.people = [];
            }
            
            function resetUsers() {
                $scope.users = [];
            }
            
            $scope.loadPeople = function () {
                resetPeople();
                loadPeople($q, $scope.numPeople).then(function (people) {
                    $scope.people = people;
                });
            }
            
            $scope.loadUsers = function () {
                resetUsers();
                loadUsers($q, $scope.numUsers).then(function (users) {
                   $scope.users = users; 
                });
            }
            
            $scope.loadPeople();
            $scope.loadUsers();

        }]);
        
    }());
    </script>
    <style>
        body {
            margin: 20px;
        }
        
        th {
            background-color: rgb(240, 240, 255);
            border-color: rgb(100, 100, 100) !important;
            border-style: solid !important;
            border-width: 1px !important;
        }
        
        .pe {color: #63a35c;} .pa {color: #795da3;}
        
        label {margin-right: 25px;}
    </style>
</head>
<body ng-app="angular-sticky-table-header" ng-controller="controller">
    
    <h1>Angular Sticky Table Header Showcase</h1>

    <h2>Features</h2>   
    <ul style="margin-bottom: 20px">
        <li>Simple to use. Just add <span class="pa">ng-sticky-header</span> attribute to a &lt;<span class="pe">table</span>&gt; element.</li>
        <li>It can be used on tables with multi-level headers</li>
        <li>The table can contain images</li>
        <li>You can have content above and below</li>
        <li>Works with multiple tables</li>
        <li>Can watch for angular $scope changes and resize accordingly</li>
    </ul>
    
    <a name="randompeople"></a>
    <h2>Random people</h2><p>
        This table is filled with data from <a href="https://randomuser.me/">RANDOM USER GENERATOR</a>.
    </p>
    <form ng-submit="loadPeople();">        
        <label>Number of rows to load:</label><input type="number" ng-model="numPeople"/>
        <input type="submit" value="Reload"/>
    </form>    
    <table class="table table-hover table-condensed table-bordered table-striped" ng-sticky-header ng-sticky-header-update="people">
        <thead>
            <tr>
                <th rowspan="2">Title</th>
                <th colspan="2">Name</th>
                <th rowspan="2">Gender</th>
                <th rowspan="2">Email</th>
                <th rowspan="2">Picture</th>
            </tr>
            <tr>
                <th>First</th>
                <th>Last</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in people">
                <td style="text-transform:capitalize" ng-bind="person.name.title"></td>
                <td style="text-transform:capitalize" ng-bind="person.name.first"></td>
                <td style="text-transform:capitalize" ng-bind="person.name.last"></td>
                <td style="text-transform:capitalize" ng-bind="person.gender"></td>
                <td ng-bind="person.email"></td>
                <td><img ng-src="{{person.picture.thumbnail}}" alt="image showing person" style="border: 2px outset;"></td>                
            </tr>
        </tbody>
    </table>
        
    <h3>Copyright Notice</h3><p>
        All randomly generated photos were hand picked from the authorized
        section of <a href="http://uifaces.com">UI Faces</a>. Please visit 
        <a href="http://uifaces.com/faq">UI Faces FAQ</a> for more information 
        regarding how you can use these faces.
    </p>
    
    <h2>Random system users</h2><p>
        This table is filled with data from <a href="https://www.mockaroo.com/">Mockaroo</a>.
    </p>
    <form ng-submit="loadUsers();">        
        <label>Number of rows to load:</label><input type="number" ng-model="numUsers"/>
        <input type="submit" value="Reload"/>
    </form>    
    <table class="table table-hover table-condensed table-bordered table-striped" ng-sticky-header ng-sticky-header-update="users">
        <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th colspan="2">User</th>
                <th colspan="2">Access</th>
            </tr>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Last login IP</th>
                <th>Last accessed URL</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td ng-bind="user.id"></td>
                <td ng-bind="user.username"></td>
                <td ng-bind="user.password"></td>
                <td ng-bind="user.last_login_ip"></td>
                <td ng-bind="user.last_accessed_url | limitTo: 50"><span ng-if="user.last_accessed_url.length > 50">&hellip;</span></td>
            </tr>
        </tbody>
    </table>
        
    <h2>Github</h2><p>
        If you want to file an issue or otherwise contribute to the code, feel free to visit the 
        <a href="https://github.com/larsjueljensen/angular-sticky-table-header">github source page</a>.
    </p>
</body>
</html>